<section class="contacts" id="contacts">
  <div class="contacts_container container">
    <h2 class="title-h2">User Reviews</h2>
    <div class="contacts_content">
      <div class="contacts_content-left">
        <p>Skontaktuj się z nami za pomocą poczty elektronicznej</p>
        <div class="contacts_content-left-email">
          e-mail:
          <a href="mailto:kontakt@fbtugebuuxa.xyz">kontakt@fbtugebuuxa.xyz</a>
        </div>
        <img src="./img/contacts.png" alt="słoik">
      </div>
      <div class="contacts_content-right">
        <h3>Lub wypełnij formularz, a my skontaktujemy się z Tobą</h3>
        <form>
          <label class="contacts-right-label">
            Imię i nazwisko
            <input type="text" name="name" placeholder="Wpisz swoje imię i nazwisko">
          </label>
          <label class="contacts-right-label">
            Adres e-mail
            <input type="email" name="email" placeholder="Wpisz swój adres e-mail">
          </label>
          <label class="contacts-right-label contacts-right-label-textarea">
            Wiadomość
            <textarea name="message" placeholder="Wpisz komentarz, jeśli taki istnieje"></textarea>
          </label>
          <button class="button_base button_contacts" type="submit">Zamów</button>
        </form>
      </div>
    </div>
  </div>
</section>