<section class="history" id="history">
  <div class="history_container container">
    <h2 class="title-h2">Nasza historia</h2>
    <div class="history_content">
      <p>"Pomysł narodził się przypadkiem – w piwnicy po babci znaleźliśmy słoik ogórków z 1984 roku. I zeszyt z jej
        przepisami. Od tamtej chwili zaczęliśmy fermentować wszystko: warzywa, owoce, a potem... pomysły. Dōżynki Lab to
        hołd dla smaków, które przetrwały pokolenia, i laboratorium, w którym tradycja spotyka się z nowoczesnością."
      </p>
      <img src="./img/history-image.jpg" alt="history">
    </div>
  </div>
</section>