<section class="lab" id="lab">
  <div class="lab_container container">
    <h2 class="title-h2">Dlaczego wybrać Dōżynki Lab?</h2>
    <div class="lab_content">
      <div class="swiper swiper-lab">
        <div class="swiper-wrapper swiper-wrapper-lab">
          <div class="swiper-slide swiper-slide-lab">
            <svg class="lab-svg-box">
              <use href="./img/sprite.svg#icon-ok"></use>
            </svg>
            <div class="slide-lab-content">
              <h3>Rodzinne receptury z duszą</h3>
              <p>Przepisy babć i prababć, ożywione przez młode pokolenie</p>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-lab">
            <svg class="lab-svg-box">
              <use href="./img/sprite.svg#icon-ok"></use>
            </svg>
            <div class="slide-lab-content">
              <h3>Naturalna fermentacja bez kompromisów</h3>
              <p>Bez cukru, octu spirytusowego, czy konserwantów</p>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-lab">
            <svg class="lab-svg-box">
              <use href="./img/sprite.svg#icon-ok"></use>
            </svg>
            <div class="slide-lab-content">
              <h3>Rzemieślnicza produkcja</h3>
              <p>Każdy słoik robiony ręcznie, z sezonowych składników</p>
            </div>

          </div>

          <div class="swiper-slide swiper-slide-lab">
            <svg class="lab-svg-box">
              <use href="./img/sprite.svg#icon-ok"></use>
            </svg>
            <div class="slide-lab-content">
              <h3>Wsparcie mikrobiomu</h3>
              <p>Nasze kiszonki to nie tylko smak, to codzienna porcja zdrowia</p>
            </div>

          </div>

          <div class="swiper-slide swiper-slide-lab">
            <svg class="lab-svg-box">
              <use href="./img/sprite.svg#icon-ok"></use>
            </svg>
            <div class="slide-lab-content">
              <h3>Opakowania zero waste</h3>
              <p>Szklane słoiki, etykiety z papieru nasiennego – posadź je po użyciu!</p>
            </div>

          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-lab"></div>
    </div>
  </div>
</section>