<section class="line" id="line">
  <div class="line_container container">
    <h2 class="title-h2">Nasza fermentowana linia</h2>
    <div class="line_content">
      <div class="swiper swiper-line">
        <div class="swiper-wrapper swiper-wrapper-line">

          <div class="swiper-slide swiper-slide-line swiper-slide-line-1">
            <h3>Kiszonki Trójfazowe</h3>
            <p>Kapusta, marchew i czosnek w potrójnym cyklu fermentacji – bomba odpornościowa!</p>
          </div>

          <div class="swiper-slide swiper-slide-line swiper-slide-line-2">
            <h3>Octy SlowDrop</h3>
            <p>8 miesięcy fermentacji, 100% jabłek, 0% pośpiechu</p>
          </div>

          <div class="swiper-slide swiper-slide-line swiper-slide-line-3">
            <h3>Zakwas Zone</h3>
            <p>Buraczany starter do barszczu lub... szot poranny na odporność</p>
          </div>

          <div class="swiper-slide swiper-slide-line swiper-slide-line-4">
            <h3>Herbal Kombucha</h3>
            <p>Napój z fermentowanej zielonej herbaty i ziół z podlaskiej łąki</p>
          </div>

          <div class="swiper-slide swiper-slide-line swiper-slide-line-5">
            <h3>Dōżynki Kids</h3>
            <p>Naturalne żelki probiotyczne o smaku malin i dyni, stworzone z kiszonek!</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-line"></div>
    </div>
  </div>
</section>